body {
    margin: 0;
    padding: 0%;
    width: 100%;
    overflow-x: hidden;
    opacity: 0;
}

main {
    margin: 0;
    display: flex;
    width: 100%;
    background-color: #FFFDFD;
}

#mainContainer {
    padding-left: 15vw;
    padding-right: 15vw;
}

header {
    padding-top: 8vh;
    padding-bottom: 2.5vh;
}

section {
    padding-top: 7vh;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 4.5em;
    letter-spacing: 10pt;
    color: #413A3A;
    margin-bottom: 10pt;
}

h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300 !important;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    line-height: 20pt;
}

form {
    padding-top: 5vh;
    width: 100%;
}

label {
    display: flex;
    width: 100%;
    height: 40pt;
}

input {
    width: 300pt;
    max-width: 80%;
    border-radius: 20pt;
    border-color: rgb(156, 156, 156);
    border-style: solid;
    border-width: 1pt;
    text-indent: 15pt;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(34, 34, 34);
    font-size: 16px;
}

input::placeholder {
    color: rgb(156, 156, 156);
}

input:focus, label button:focus {
    outline: none;
}

button {
    border-radius: 20pt;
    border-style: solid;
    border-width: 0;
    width: 65pt;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    margin-left: 10pt;
}

button:hover {
    transition-property: all;
    transition-duration: 0.4s;
    background: linear-gradient(135deg, hsl(0, 100%, 96%), hsl(0, 80%, 86%));
    cursor: pointer;
    box-shadow: 0 8px 10px rgb(185, 184, 184)
}

.error_icon {
    position: relative !important;
    display: flex;
    align-items: center;
    margin-left: -80pt;
}

#error_message {
    color: hsl(0, 93%, 68%);
    display: block;
    margin-left: 1vw;
    margin-top: 1vh;
    font-size: 0.9em;
}

aside img {
    margin: 0;
    padding: 0;
    height: 100%;
}

aside {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 1250px) and (max-width: 1400px) {
    #mainContainer {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (min-width: 800px) and (max-width: 1250px) {
    #mainContainer {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media (max-width: 800px) {
    aside img {
        height: auto;
        width: 100%;
    }
    aside {
        height: auto;
        width: 100vw;
    }
    #mainContainer {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 15vw;
    }
    header {
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 10vw;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        box-sizing: border-box;
    }
    section {
        padding-top: 3vh;
    }
    h1 {
        font-size: 3.5em;
    }
    p {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    label {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    input {
        width: 75%;
    }
    button {
        width: 50pt;
    }
    .error_icon {
        margin-left: -60pt;
    }
    #error_message {
        margin-left: -7pt;
    }

}